$primary_color: #727cf5
$secondary_color: #111
$elf_green: #068282
$cornflower: #92DCE7
$keppel: #3AAFA9
$sundown: #FFA8B3
$bazaar: #A27F89
$summer_green: #91C09A
$chartreuse: #9EF700
$rose: #F70077
$gossip: #DDF3A0
$lilac: #C89DC3
$cod_gray: #111

$colors: $primary_color, $cornflower, $keppel, $sundown, $bazaar, $summer_green, $chartreuse, $rose, $lilac