$primary_color: #727cf5
$secondary_color: #111
$elf_green: #068282
$cornflower: #04D2F7
$keppel: #4949F3
$sundown: #F60195
$bazaar: #A27F89
$summer_green: #91C09A
$chartreuse: #9EF700
$yellow: #E4FD0D
$orange: #FF6701
$rose: #F70077
$gossip: #DDF3A0
$lilac: #C62EF7
$cod_gray: #111

$colors: $primary_color, $cornflower, $keppel, $rose, $sundown, $lilac, $orange, $yellow, $chartreuse