@import './_aside'
@import './_main'
    
@include selection
    color: white
    background: $lilac
    
body
    background-color: $secondary_color
    color: white

.footer
    background-color: black
    text-align: center
    font-size: 20px